#showPrice{
    width: 200px;
    height: 40px;
    background-color: #8A2BE2;
    color: #ffffff;
    font-size: large;
    border: 1px solid #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* fixed social*/
#fixed-social {
    position: fixed;
    top: 130px;
 }
 
 #fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
     line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 10;
    background-color: #151515;
 }
 #fixed-social a:hover>span{
     visibility: visible;
   left: 41px;
   opacity: 1;
 } 
 #fixed-social a span {
     line-height: 40px;
     left: 60px;
     position: absolute;
     text-align: center;
     width: 120px;
     visibility: hidden;
     transition-duration: 0.5s;
     z-index: 20;
     opacity: 0;
 }
  


 /*end fixed social*/
.btn{
  
    background-color: #ffffff;
    color: #bd3424 !important;
    border: 1px solid #bd3424;
}
.btn:hover{
    
    background-color: #bd3424;
    border:  none;
    color: #ffffff !important;

}
.total-price{
    font-size: 20px;
    font-weight: bold;
}
.navbar{
    background-color: #ffffff !important;

}
.nav-item a ,.navbar-brand{
    color: #151515 !important;
}

.jumbotron{
    background-color: #ffffff !important;
    color: #151515 !important;

}
.card-header{
    background-color: #ffffff !important;

}
section.x {
    width: 100%;
    background-color: #f9f9f9 !important;

}
.myform{
    border: 1px solid #dcdcdc;
    box-shadow:  rgba(243, 249, 253, 0.3) 0px 1px 2px 0px, rgba(247, 252, 255, 0.15) 0px 1px 3px 1px!important;
background-color: #fffffffd;    

}
.card-img{
    clip-path: polygon(0 0, 100% 0%, 89% 100%, 0% 100%);
   
}
.custom-card{
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
     
}
.custom-card .card{
    border: none !important;

}
.custom-card :hover{
    transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
}
.custom-card .card-cover {
background-image: url("../images/christina.jpg");
background-size: cover;
background-repeat: no-repeat;

}
.custom-card .card-cover2 {
    background-image: url("../images/joy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .custom-card .card-cover3 {
        background-image: url("../images/jons.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
        }
.img2{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 11% 100%);
    
}
.img-back{
    background-image: url("../images/Qudes.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    background-size: cover;
}
.carousel-item1{
    background-image: url("../images/raimond-klavins-030ZIU1Rook-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel-item2{
    background-image: url("../images/Bethlehemcity.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel-item3{
    background-image: url("../images/HPIM0787.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carousel-caption{
   color: #ffffff !important;
    padding: 50px;
    background-color: #15151593;
}
body{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));
}
.first-section{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));

}
.info-section{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));


}
.translate-section{
  
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15)) !important;

    
}
.title-album-section{
background-image: url("../images/Qudes.jpg");
height: 350px;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color: #e8e8e8;
position: relative;;
overflow: auto;
}
.overlay{
    height: 300px;
position: absolute;
width: 100%;
background-color: #d2d2d257;
}
.overlay-black{
    height: 400px;
position: absolute;
width: 100%;
background-color: #0000009b;
}
.overlay-black-cum{
    height: 100%;
position: absolute;
width: 100%;
background-color: #0000009b;
}
.overlay-black1{
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #0000009b;
}
.album-section{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));

}

.customs-section{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15)) !important;

}
.card-section{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));

}
.poster-section{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));

}
.icons{
    background-image: linear-gradient(to right, rgba(45, 1, 1, 0.886), rgb(1, 26, 15));

}

.progress-bar {
    appearance: none;
    border: none;
     background-color: #bd3424;
}
.progress{
    /* Reset the default appearance */
 
    
    background-color: #ffffff9b;
    height: 7px;
  }
  .poster-section .card {
    transition: 2s ease-out;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    -ms-transition: 2s ease-out;
    -o-transition: 2s ease-out;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: auto;
    margin: auto;
}
.card{
    box-shadow: rgba(143, 143, 143, 0.452) 0px 1px 4px !important;

}
.poster-section .card :hover  {
    
    transform:scale(1.01) ;
    -webkit-transform:scale(1.01) ;
    -moz-transform:scale(1.01) ;
    -ms-transform:scale(1.01) ;
    -o-transform:scale(1.01) ;
}
.poster-section .card :hover .card-img {
    transform:scale(1.05) ;
    -webkit-transform:scale(1.05) ;
    -moz-transform:scale(1.05) ;
    -ms-transform:scale(1.05) ;
    -o-transform:scale(1.05) ;
}
  .poster-section .card :hover .progress-bar{
width: 60% !important;
  }
 
  .album-section .card{
    position: relative;
    transition: 1px;
    -webkit-transition: 1px;
    -moz-transition: 1px;
    -ms-transition: 1px;
    -o-transition: 1px;
}

 
  .album-section .card::after {
    position: absolute;
    content: "";
    width: 100% ;
    height: 0 ;
    top:  0;
    left: 0;
    background-color: rgb(14, 15, 14) ;
    opacity: 0 ;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

  .album-section .card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5 ;
}
.icons .btn {
    border: 0;
    font-size: 20px;
}
.icons .btn:hover{
background-color: #bd3424;
border: 0;
}
.f-footer {
    background-image: linear-gradient(to right, rgba(24, 0, 0, 0.936), rgb(0, 14, 8));
    color: #ffffff;
}
.f-footer .nav-item a{
    color: #ffffff !important;
}